<div class="row">

    <div class="col-lg-2 col-md-3">
        <app-left-bar/>
    </div>
    <div class="col-lg-10 col-md-9">
        <app-nav-bar/>
        <h1 class="text-start"> Cursos </h1>
        <p>Bienvenido de vuelta, Mclovin</p>

        <div class="row" id="items-courses">
            @for(course of courses; track course){
                <div class="col-lg-4 col-md-3 col-sm-9">
                    <app-course [course]="course"></app-course>
                </div>
            } 
        </div>
    </div>
</div>
