<div class="my-container">
  <div>
    <app-close-button></app-close-button>
  </div>

  <div class="question-form">


    <form [formGroup]="questionForm">
      <div class="form-group">
        <label for="statement" class="title">Enunciado</label>
        <input type="text" id="statement" formControlName="statement" class="form-control">
      </div>

      <div class="form-group">
        <label class="title">Respuesta</label>
        <div class="answer-options">
          <div class="option">
            <label for="pregunta-1">Separe los conceptos con comas</label>
            <input type="text" id="pregunta-1" formControlName="res" class="form-control">
          </div>
        </div>
      </div>
      <br>



      <div class="form-group">
        <label class="title">¿Quieres que esta pregunta esté disponible públicamente?</label>

        <div class="public-options">
          <div class="inline-block">
            <label for="yes">Sí</label>
            <input type="radio" id="yes" formControlName="public" value="true">
          </div>
          <div class="inline-block">
            <label for="no">No</label>
            <input type="radio" id="no" formControlName="public" value="false">
          </div>
        </div>
      </div>

      <button (click)="onSubmit()" class="btn" type="submit">Submit</button>
    </form>
  </div>
</div>
