<div id="container" class="container-fluid">

    <h2 class="text-center">Let's sign you</h2> <br>
    <h5 class="text-center">Welcome back, you have been missed</h5> <br>

    <div class="form">
        <div class="row">
            <h6 id="email">Email, phone or username</h6>
            <input type="text" class="form-control" placeholder="Email, phone or username">
        </div>


        <div class="row ">
            <h6 id="password">password</h6>
            <input #passwordInput type="password" class="form-control right-padding" placeholder="password">
            <i (click)="togglePassword()" class="bi bi-eye position-absolute centered-to-right clickable"></i>
        </div>


    </div>

    <a [routerLink]="'/forgot-password'" class="clickable">
        <h6 class="text-end">Forgot password?</h6>
    </a> <br>


    <button class="btn btn-primary ">Sign in</button> <br> <br>
    <div class="d-flex align-items-center">
        <div class="flex-grow-1">
            <hr>
        </div>
        <span class="mx-2 text-muted">or</span>
        <div class="flex-grow-1">
            <hr>
        </div>
    </div>
    <div class="icons row align-items-center justify-content-center">

        <div class="col-auto">
            <i class="bi bi-google align-items-center justify-content-center"></i>
        </div>
        <div class="col-auto">
            <i class="bi bi-facebook align-items-center justify-content-center"></i>
        </div>
        <div class="col-auto">
            <i class="bi bi-apple align-items-center justify-content-center"></i>
        </div>

    </div>
    <h6 class="register text-center"> Don't have an account? <span id="span"> register now</span></h6>

</div>